@font-face {
	font-family: 'Tajawal';
	src : url('../font/Tajawal-Regular.ttf') format("truetype") , local('Tajawal');
  }

  body{
    font-family: 'Tajawal', sans-serif;
  }

h4 a{
    text-decoration: none;
    font-size: 27px;
    color: black;
    font-style: oblique;
}

h4 a:hover{
    color: rgb(34, 33, 136);
}


.square {
  height: 80px;
  width: 100px;
  margin: 30px auto 40px;
  position: relative;
  border-radius: 15px;
  transform: rotate(360deg);
  padding: 10px;
  background-color:#02094b;
  box-shadow: 0px 0px 27px 0px #ccc;
  border: 2px dotted #eaf3fa;
}

.square:hover{
  background-color:#4852ad;
}


